<!DOCTYPE html>
<html>
  <head>
    <title>TwoFactorAuthRails6</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to '2FA Demo', root_path %>
      </h1>

      <nav>
        <% if user_signed_in? %>
          <%= button_to 'Logout', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </nav>
    </header>

    <section>
      <% flash.each do |name, msg| -%>
        <%= content_tag :dialog, msg, role: name %>
      <% end %>
    </section>

    <%= yield %>

    <footer>
      <a href="https://rubygems.guide">RubyGems.Guide</a> - 2FA Demo
    </footer>
  </body>
</html>
